  @font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }